mat-form-field {
  width: 90%;
}

.user-info {
  display: block;
  background: white;
  clear: both;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none; }
  .user-info md-list {
    padding: 0; }
  .user-info-results {
    z-index: 5;
    position: absolute;
    left: 0;
    right: 0;
    top: 100%;
    opacity: 1;
    border-radius: 0 0 4px 4px;
    overflow: hidden;
    border: 1px solid #DFDFDF;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    margin: -2px -1px 0 -1px;
    top: auto;
    }
    .user-info-results-close {
      float: right;
      margin-right: 0;
      top: 0;
      right: 0;
      bottom: 0;
      width: 40px;
      line-height: 36px;
      text-align: center;
      cursor: pointer;
      background: #eeeeee; }
      .user-info-results-close:hover {
        background: #bdbdbd; }
  .user-info-results-header {
    background: #ececec;
    color: #424B44;
    font-weight: bold;
    line-height: 35px;
    height: 36px;
    padding: 0px;
    padding-left: 10px;
    border-bottom: 1px solid #DCDCDC; }
    .user-info-results-header:before {
      content: '';
      height: 0;
      width: 0;
      border-bottom: 5px solid #ececec;
      border-left: 5px solid transparent;
      border-right: 5px solid transparent;
      position: absolute;
      margin-left: 50%;
      left: -5px;
      top: -5px; }
