<div class="user-info">

  <div class="user-info-content">

      <!-- Content -->
      <fieldset>
        <div layout="row">
          <div flex="55">
            <mat-form-field>
              <input
                matInput
                type="text"
                name="lastName"
                [(ngModel)]="user.lastName"
                (ngModelChange)="onUserChange('lastName')"
                placeholder="Last Name"
                required
              >
            </mat-form-field>
          </div>
          <div flex="45">
            <mat-form-field>
              <input
                matInput
                type="text"
                name="firstName"
                [(ngModel)]="user.firstName"
                (change)="onUserChange('firstName')"
                placeholder="First Name"
              >
            </mat-form-field>
          </div>
        </div>
        <div layout="row">
          <div flex="65">
            <mat-form-field>
              <input
                matInput
                type="text"
                name="phone"
                [(ngModel)]="user.phone"
                (change)="onUserChange('phone')"
                placeholder="Phone"
              >
            </mat-form-field>
          </div>
          <div flex="35">
            <mat-form-field>
              <input
                matInput
                type="text"
                name="id"
                [(ngModel)]="user.id"
                (change)="onUserChange('id')"
                placeholder="Member Number"
              >
            </mat-form-field>
          </div>
        </div>
        <div layout="row">
          <div flex>
            <mat-form-field>
              <input
                matInput
                type="text"
                name="email"
                [(ngModel)]="user.email"
                (change)="onUserChange('email')"
                placeholder="E-mail"
              >
            </mat-form-field>
          </div>
        </div>
        <div *ngIf="submitAlerts && submitAlerts.length">
          <ngb-alert *ngFor="let alert of submitAlerts" type="alert.type">
            {{alert.message}}
          </ngb-alert>
          <span class="btn btn-primary btn-block" (click)="dismissAlerts()">ok</span>
        </div>
      </fieldset>

      <!-- Results -->
      <div class="user-info-results" *ngIf="searchResults && searchResults.data.length">
        <div class="user-info-results-header">
          <span class="user-info-results-close icon-close" (click)="closeResults()">x</span>
          {{ resultsInfo.length }} résultats
        </div>
        <mat-table #table [dataSource]="searchResults">
          <!-- Position Column -->
          <ng-container matColumnDef="id">
            <mat-header-cell *matHeaderCellDef> Id </mat-header-cell>
            <mat-cell *matCellDef="let customer"> {{customer.id}} </mat-cell>
          </ng-container>

          <!-- Name Column -->
          <ng-container matColumnDef="first">
            <mat-header-cell *matHeaderCellDef> First Name </mat-header-cell>
            <mat-cell *matCellDef="let customer"> {{customer.firstName}} </mat-cell>
          </ng-container>

          <!-- Weight Column -->
          <ng-container matColumnDef="last">
            <mat-header-cell *matHeaderCellDef> Last Name </mat-header-cell>
            <mat-cell *matCellDef="let customer"> {{customer.lastName}} </mat-cell>
          </ng-container>

          <!-- Symbol Column -->
          <ng-container matColumnDef="phone">
            <mat-header-cell *matHeaderCellDef> Phone </mat-header-cell>
            <mat-cell *matCellDef="let customer"> {{customer.phone}} </mat-cell>
          </ng-container>

          <!-- Symbol Column -->
          <ng-container matColumnDef="email">
            <mat-header-cell *matHeaderCellDef> Email </mat-header-cell>
            <mat-cell *matCellDef="let customer"> {{customer.email}} </mat-cell>
          </ng-container>

          <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumns;" (click)="setUser(row)"></mat-row>
        </mat-table>
      </div>
    </div>
</div>
